.myworks{
    padding: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem) 0;
    background-color: #F6F6F6;
}

.myworks__title{
    text-align: center;
    font-size: clamp(1.563rem, 1.313rem + 1.25vw, 2.25rem);
    margin-bottom: 40px;
}

.myworks__text{
    max-width: 580px;
    margin: 0 auto 65px;
}



.myworks__list{
    display: flex;
    padding: 20px 0 !important;
}

.myworks__item{
    user-select: none;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 0px rgba(0,0,0,0.1);
    transition: all 0.5s;  
}

.myworks__item:hover{
    transition: all 0.9s;
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.myworks__item-img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition:ease-in-out 0.9s;
    box-shadow: 1px 1px 2px rgb(129, 129, 129);
    border-radius: 5px;

}

.myworks__item-title {
    font-size: clamp(1rem, 0.841rem + 0.8vw, 1.438rem);
    text-align: center;
    margin: 10px 0;
}

.myworks__item-text {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;

}

.myworks__item-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin: 10px 0;

}

.myworks__item-icon img{
    width: 30px;
    height: 30px;
} 

.myworks__item-link {
    position: relative;
    border-radius: 4px;
    background-color: rgb(20 184 166);
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 5px 20px;
    width: 180px;
    transition: all 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    display: inline-block;
  }
  .myworks__item-link:active{
    background-color:rgb(42, 208, 189);
  }
  
  .myworks__item-link:before {
    content: '«'; 
    font-size: 26px;
    position: absolute;
    opacity: 0;  
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: 0.5s;
  }
  
  .myworks__item-link:hover {
    padding-left: 24px;
    padding-right: 8px;
  }
  
  .myworks__item-link:hover:before {
    opacity: 1;
    left: 20px;
  }
  
  .btn-slider{
    background-color: rgb(15 118 110);
    border-radius: 50%;
  }

/* =======slider======== */

.glide__arrows {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.glide__arrow {
    position: initial;
    font-size: 18px;
    margin: 0 10px;
    transition: all 0.3s;
}

.glide__arrow:active {
    background-color: rgb(20 184 166);
}



  